{% extends"layout.html" %}
{% block body %}
    <form action="/" method="post">
        <div class="grid-container">
            <div class="form-inline">
                <input type="text" class="grid-item" name="one" maxlength="1" autocomplete="off">
                <input type="text" class="grid-item" name="two" maxlength="1" autocomplete="off">
                <input type="text" class="grid-item" name="three" maxlength="1" autocomplete="off">
                <input type="text" class="grid-item" name="four" maxlength="1" autocomplete="off">
                <input type="text" class="grid-item" name="five" maxlength="1" autocomplete="off">
            </div>
            <div class="form-inline">
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
            </div>
            <div class="form-inline">
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
            </div>
            <div class="form-inline">
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
            </div>
            <div class="form-inline">
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
                <input type="text" class="grid-item" disabled>
            </div>
            
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}
