body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #ffffff;
  color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.logo {
  color: #71dfb7;
  font-size: 45px;
  font-weight: bold;
  position: relative;
  top: 30px;
  left: 12px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
  column-gap: 50px;
  padding: 85px;
  justify-content: center;
  position: relative;
  top: -110px;
}

.grid-item {
  border: 2px solid grey;
  border-color: #2b2d2f;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}

.correct-grid-item{
  color: white;
  background-color: #4a9143;
  border: 2px;
  padding: 20px;
  font-size: 30px;
  width: 34px;
  height: 34px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.present-grid-item{
  color: white;
  background-color: #dabc39;
  border: 2px;
  padding: 20px;
  font-size: 30px;
  width: 34px;
  height: 34px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.absent-grid-item{
  color: white;
  background-color: grey;
  border: 2px solid grey;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

button {
  color: #71dfb7;
  background-color: #2b2d2f;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer
}

.button-reset{
  color: #71dfb7;
  background-color: #2b2d2f;
  font-size: 18px;
  font-weight: bold;
  border-color: #71dfb7;
  border-width: 3px;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  top: 400px;
  left: 10px;
  text-decoration: none;
}

.form-inline{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 4px;
}


.help {
  color: #71dfb7;
  font-size: 10px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  left: 550px;
  top: -40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2b2d2f;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: none;
  width: 70%;
  animation-name: animatetop;
  animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:#71dfb7;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color:#2b2d2f;
  color:#71dfb7;
  font-size: 25px;
}

.modal-body {
  color: white;
  background-color:#2b2d2f;
  padding: 2px 16px;
  font-size: 20px;
}
.modal-body2 {
  padding: 2px 16px;
  font-size: 20px;
  text-align: left;
}

.modal-footer {
  padding: 2px 16px;
  background-color:#2b2d2f;
  color:#71dfb7;
  font-size: 25px;
}

.body2 {
  background-color: #2b2d2f;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #71dfb7,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 52%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 250px;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #71dfb7,
    -0.2rem 0.1rem 1rem #71dfb7, 0.2rem 0.1rem 1rem #71dfb7,
    0 -0.5rem 2rem #3ba37d, 0 0.5rem 3rem #3ba37d;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #71dfb7,
      -0.2rem 0.1rem 1rem #71dfb7, 0.2rem 0.1rem 1rem #71dfb7,
      0 -0.5rem 2rem #3ba37d, 0 0.5rem 3rem #3ba37d;
  }
  28%,
  33% {
    color: #71dfb7;
    text-shadow: none;
  }
  82%,
  97% {
    color: #3ba37d;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #228b65;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #71dfb7,
      -0.2rem 0.1rem 1rem #71dfb7, 0.2rem 0.1rem 1rem #71dfb7,
      0 -0.5rem 2rem #3ba37d, 0 0.5rem 3rem #3ba37d;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.Word{
color: #71dfb7;
font-size: 30px;
position: relative;
top: 350px;
}
